TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [5]:
st='suma'
reverse_str= st[::-1]
print(reverse_str)

amus

In [23]:
st='suma'
reverse_str= ''
for chr in st:
    #print(chr)
    reverse_str=chr+reverse_str
    #print(reverse_str)
print(reverse_str)

amus

2. Check if a string is a palindrome.

In [59]:
st=input('enter palindrome str:')
st=''.join(e for e in st if e.isalnum())
print(st==st[::-1])

enter palindrome str: sus

True

3. Convert a string to uppercase.

In [63]:
str=input('enter the string:')
s=str.upper()
print('uppercase_string:', s)

enter the string: sumakasi

uppercase_string: SUMAKASI

4. Convert a string to lowercase.

In [66]:
str=input('enter the string:')
s=str.lower()
print('lowercase_string:', s)

enter the string: SUMAKASI

lowercase_string: sumakasi

5. Count the number of vowels in a string.

In [81]:
str='suma is good girl'
vowels='aeiou'
cnt=0
for chr in str:
    if chr in vowels:
        cnt+=1
print(cnt)

6

6. Count the number of consonants in a string.

In [84]:
str='suma is good girl'
vowels='aeiou'
cnt=0
for chr in str:
    if chr not in vowels:
        cnt+=1
print(cnt)

11

7. Remove all whitespaces from a string.

In [103]:
str='suma is good girl'
replace=''
for chr in str:
    if chr!=' ':
       replace+=chr
print(replace)

sumaisgoodgirl

8. Find the length of a string without using the `len()` function.

In [110]:
str='suma is good girl'
cnt=0
for chr in str:
    cnt+=1
print('the length of the string is :' ,cnt)

the length of the string is : 17

9. Check if a string contains a specific word.

In [119]:
str=input ('enter the input string:')
spec_word=input('enter specific word:')
if spec_word in str:
    print(f'input string have spec word "{spec_word}".')
else:
    print(f'input string doesn"t have spec word  "{spec_word}".')

enter the input string: suma good
enter specific word: good

input string have spec word "good".

10. Replace a word in a string with another word.

In [124]:
str=input ('enter the input string:')
replace_word=input('enter replace word:')
old_word=input('enter old word:')
m=str.replace(old_word,replace_word)
print(m)

enter the input string: suma is lazy
enter replace word: active
enter old word: lazy

suma is active

11. Count the occurrences of a word in a string.

In [137]:
str=input ('enter the input string:')
occur_word=input('enter occurence word:')
cnt=0
words=str.split()
for word in words:
    if word==occur_word:
        cnt+=1
print(f"the input string have '{occur_word}' in {cnt} times")

enter the input string: suma good at data eng, data scien and data analy
enter occurence word: data

the input string have 'data' in 3 times

12. Find the first occurrence of a word in a string.

In [142]:
str=input ('enter the input string:')
occur_word=input('enter occurence word:')
s=str.find(occur_word)
if s==-1:
    print('none')
else:
    print(f'First occurence of word is {s}')

enter the input string: suma good at data eng, data scien and data analy
enter occurence word: data

First occurence of word is 13

13. Find the last occurrence of a word in a string.

In [145]:
str=input ('enter the input string:')
occur_word=input('enter occurence word:')
s=str.rfind(occur_word)
if s==-1:
    print('none')
else:
    print(f'Last occurence of word is {s}')

enter the input string: suma good at data eng, data scien and data analy
enter occurence word: data

Last occurence of word is 38

14. Split a string into a list of words.

In [150]:
str=input ('enter the input string:')
s=str.split()
print(f"list of words in a string '{s}'")

enter the input string: suma good at data eng, data scien and data analy

list of words in a string '['suma', 'good', 'at', 'data', 'eng,', 'data', 'scien', 'and', 'data', 'analy']'

15. Join a list of words into a string.

In [157]:
words=['suma', 'good', 'at', 'data', 'eng,', 'data', 'scien', 'and', 'data', 'analy']
w=' '.join(words)
print('List of words into string:',w)

List of words into string: suma good at data eng, data scien and data analy

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [165]:
str=input ('enter the input string:')
s=str.replace(' ','_')
s1=s.replace(',','_')
print(f"list of words in a string '{s1}'")

enter the input string: suma good at data eng, data scien and data analy

list of words in a string 'suma_good_at_data_eng__data_scien_and_data_analy'

17. Check if a string starts with a specific word or phrase.

In [167]:
str=input ('enter the input string:')
start_word=input('enter occurence word:')
s=str.startswith(start_word)
print(f"string starts with a specific word '{s}'")

enter the input string: Hello World!
enter occurence word: Hello

string starts with a specific word 'True'

18. Check if a string ends with a specific word or phrase.

In [180]:
str=input ('enter the input string:')
end_word=input('enter occurence word:')
s=str.endswith(end_word)
print(f"string ends with a specific word '{s}'")

enter the input string: Hello World!
enter occurence word: !

string starts with a specific word 'True'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [183]:
str=input ('enter the input string:')
s=str.title()
print(f"string tile with acaps '{s}'")

enter the input string: hello world

string tile with acaps 'Hello World'

20. Find the longest word in a string.

In [192]:
str=input ('enter the input string:')
s=str.split()
long_word=''
max_len=0
for word in s:
    if len(word)>max_len:
        max_len=len(word)
        long_word=word
print('the longest word in string',long_word)

enter the input string: suma good at datasciencedataeng

the longest word in string datasciencedataeng

21. Find the shortest word in a string.

In [199]:
str=input ('enter the input string:')
s=str.split()
short_word=''
max_len=float('inf')
for word in s:
    if len(word)<max_len:
        max_len=len(word)
        short_word=word
print('the longest word in string',short_word)

enter the input string: suma is

the longest word in string is

22. Reverse the order of words in a string.

In [202]:
str=input ('enter the input string:')
s=str.split()
s1=s[::-1]
print(s1)

enter the input string: suma is good girl

['girl', 'good', 'is', 'suma']

23. Check if a string is alphanumeric.

In [209]:
str =input('enter the input string:')
s=str.isalnum()
print('the string has alphanumeric:',s)

enter the input string: suma1235

the string has alphanumeric: True

24. Extract all digits from a string.

In [222]:
str=input('enter the all digits from string:')
digit=''
for char in str:
    if char.isdigit():
        digit+=char
print(f'all digits in string:"{digit}"')

enter the all digits from string: suma12345

all digits in string:"12345"

25. Extract all alphabets from a string

In [233]:
str=input('enter the alphabets from string:')
alpha=''
for word in str:
    if word.isalpha():
        alpha+=word
print(f'extract all alphabets from string:{alpha}')

enter the alphabets from string: suma123hello

extract all alphabets from string:sumahello

26. Count the number of uppercase letters in a string.

In [240]:
str=input('enter the alphabets from string:')
uppercase=0
for word in str:
    if word.isupper():
        uppercase+=1
print('number of uppercase letters in a string:',uppercase)

enter the alphabets from string: sumAAHELLOqa

number of uppercase letters in a string: 7

In [242]:
str=input('enter the alphabets from string:')
uppercasecnt= sum(1 for word in str if word.isupper())
print(uppercasecnt)

enter the alphabets from string: SUMaaheLLOeef

6

27. Count the number of lowercase letters in a string.

In [253]:
str=input('enter the alphabets from string:')
locasecnt=sum(1 for word in str if word.islower())
print(locasecnt)

enter the alphabets from string: sumaHELLOADFsqeres

10

28. Swap the case of each character in a string.

In [256]:
str=input('enter the alphabets from string:')
s1=str.swapcase()
print('swap the string:' ,s1)

enter the alphabets from string: sUMALqsf

swap the string: SumalQSF

29. Remove a specific word from a string.

In [261]:
str=input('enter the alphabets from string:')
specword='WORLD'
s=str.split()
filtered_word=[ word for word in s if word!=specword]
final_str=' '.join(filtered_word)
print(final_str)

enter the alphabets from string: Suma WORLD world

Suma world

30. Check if a string is a valid email address.

In [272]:
import re
str=input('enter the email id:')
pattern= r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern,str):
    print('True')
else:
    print('False')

enter the email id: sumnadf@gmail.com

True

31. Extract the username from an email address string.

In [285]:

str=input('enter the input string:')
s=str.split('@')[0]
print('the username for email:',s)

enter the input string: mvsuma@fgjkls.com

the username for email: mvsuma

32. Extract the domain name from an email address string.

In [287]:
str=input('enter the input string:')
s=str.split('@')[1]
print('the username for email:',s)

enter the input string: mvnafn.aejf@gmail.com

the username for email: gmail.com

33. Replace multiple spaces in a string with a single space.

In [291]:
str=input('enter the input string:')
s=' '.join(str.split())
print('replace one space in string:', s)

enter the input string: HELLO   WORLD world

replace one space in string: HELLO WORLD world

34. Check if a string is a valid URL.

In [296]:
from urllib.parse import urlparse

str=input('enter the input string for url:')
valid_url=urlparse(str)
print(valid_url)

enter the input string for url: https://example.com

ParseResult(scheme='https', netloc='example.com', path='', params='', query='', fragment='')

35. Extract the protocol (http or https) from a URL string

In [303]:
str=input('enter the input string for url:')
protocol =str.find('://')
if protocol!=-1:
    protocol_end=str[:protocol]
print(protocol_end)

enter the input string for url: https://example.com

https

36. Find the frequency of each character in a string.

In [18]:
str=input('enter the input string:')
cnt=0
freq={}
for char in str:
    if char in freq:
        freq[char]+=1
    else:
        freq[char]=1
print(f" character :'{char}', frequency:'{freq}'")

enter the input string: smaaa

 character :'a', frequency:'{'s': 1, 'm': 1, 'a': 3}'

37. Remove all punctuation from a string.

In [29]:
import string

inp_str=input('enter the input string:')

trns= str.maketrans(' ',' ', string.punctuation)
clean= inp_str.translate(trns)
print(f" original string: '{inp_str}', clean:'{clean}'")

enter the input string: suma! WORLD!;;;"wrld'

 original string: 'suma! WORLD!;;;"wrld'', clean:'suma WORLDwrld'

38. Check if a string contains only digits.

In [36]:
s=input('enter the input string:')
s1=s.isdigit()
print(f"the string contains digts:'{s1}'")

enter the input string: 123455

the string contains digts:'True'

39. Check if a string contains only alphabets.

In [43]:
s=input('enter the input string:')
s1=s.isalpha()
print(f"the string contains digts:'{s1}'")

enter the input string: sumaaa

the string contains digts:'True'

40. Convert a string to a list of characters.

In [54]:
s=input('enter the input string:')
print (list(s))

enter the input string: sumaaa

['s', 'u', 'm', 'a', 'a', 'a']

41. Check if two strings are anagrams.

In [71]:
s1=input('enter the input string1:')
s2=input('enter the input string2:')
s1=s1.replace(' ','').lower()
s2=s2.replace(' ','').lower()
if (sorted(s1)==sorted(s2)):
    result=(s1,s2)
    print(f"anagrams string:", result)
else:
    print('not anagrams')

enter the input string1: sislaa
enter the input string2: dkfgg

not anagrams

42. Encode a string using a Caesar cipher.

In [74]:
s1=input('enter the input text:')
s2=int(input('enter the input shift :'))
encod_txt=''
for char in s1:
    if char.isalpha():
        encode_char= chr((ord(char) + s2 - ord('a')) % 26 + ord('a'))
    else: 
        encode_char=char
    encod_txt+=encode_char
    print('Encode a string using a Caesar cipher.',encod_txt)

enter the input text: a
enter the input shift : 5

Encode a string using a Caesar cipher. f

43. Decode a Caesar cipher encoded string.

In [79]:
s1=input('enter the input text:')
s2=int(input('enter the input shift :'))
decod_txt=''
for char in s1:
    if char.isalpha():
        decod_char= chr((ord(char) - s2 - ord('a')) % 26 + ord('a'))
    else: 
        encode_char=char
    decod_txt+=decod_char
print('Encode a string using a Caesar cipher.',decod_txt)

enter the input text: hello world
enter the input shift : 5

Encode a string using a Caesar cipher. czggjjrjmgy

44. Find the most frequent word in a string

In [92]:
import re
from collections import Counter
def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [98]:
import re
from collections import Counter
s1=input('enter the input text:')
clean_str= re.sub(r'[^\w\s]','',s1).lower()
words=clean_str.split()
word_cnter=Counter(words)
most_common= s1
freq_word=word_cnter.most_common(1)[0][0]
print('most common word:',freq_word)

enter the input text: Hello Hello

most common word: hello

45. Find all unique words in a string.

In [103]:
s1=input('enter the input text:')
s2=set(s1.split())
print( 'all unique words in string;',s2)

enter the input text: Hello world andfwefgg world

all unique words in string; {'world', 'Hello', 'andfwefgg'}

46. Count the number of syllables in a string

In [116]:
import re
s1=input('enter the input text:')
syall=re.findall(r'[aeiouy]+',s1,re.IGNORECASE)
sy2=len(syall)
print('the number of syllables in a string:',len(syall))
print(sy2)

enter the input text: hello suma

the number of syllables in a string: 4
4

47. Check if a string contains any special characters

In [125]:
import re
s1=input('enter the input text:')
pattern=re.compile(r'[@#$%^&*!()<>?{}\|/-]')
spe_chr=pattern.search(s1)
print(f" '{s1}' string contains any special characters:",  bool(spe_chr))

enter the input text: Hello seroetrgjl;fsdx'><

 'Hello seroetrgjl;fsdx'><' string contains any special characters: True

48. Remove the nth word from a string.

In [130]:
s1=input('enter the input text:')
s2=int(input('enter the input text:'))
word=s1.split()
if s2>=1 and s2<=len(word):
    remov_word=word.pop(s2-1)
    updt_str=''.join(word)
print(remov_word,updt_str)

enter the input text: this is an example of string
enter the input text: 4

example thisisanofstring

49. Insert a word at the nth position in a string.

In [142]:
s1=input('enter the input text:')
s2=int(input('enter the input text:'))
word=s1.split()
if s2>=1 and s2<=len(word):
    insert_word=word.insert(4, 'apple')
    updt_str=''.join(word)
print(insert_word,updt_str)

enter the input text: heloo wprtr kidsa
enter the input text: 2

None heloowprtrkidsaapple

50. Convert a CSV string to a list of lists.

In [174]:
s1='Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK'
lines=s1.split('\n')
result=[]
for line in lines:
    fields=line.split(',')
    result.append(fields)
for row in result:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [168]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [165]:
list_int= [i for i in range(1,11)]
print(f'list with integers:',list_int)

list with integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [180]:
s=[10,20,30,40]
cnt=0
for i in s:
    cnt+=1
print('Length of Lists:',cnt)

Length of Lists: 4

3. Append an element to the end of a list.

In [185]:
s=[10,20,30,40]
new=50
s.append(new)
print(f'Append an element to the end of a list',s)

Append an element to the end of a list [10, 20, 30, 40, 50]

4. Insert an element at a specific index in a list.

In [189]:
s=[10,20,30,40]
new=60
s.insert(2,new)
print(f'insert an element to the specific index in a list',s)

insert an element to the specific index in a list [10, 20, 60, 30, 40]

5. Remove an element from a list by its value.

In [194]:
s=[10, 20, 60, 30, 40]
remove_elem=40
s1=s.remove(remove_elem)
print('Remove an element from a list by its value:',s)

Remove an element from a list by its value: [10, 20, 60, 30]

6. Remove an element from a list by its index.

In [200]:
s=[10, 20, 60, 30, 40]
s1=s.pop(2)
print('Remove an element from a list by its index:',s)

Remove an element from a list by its index: [10, 20, 30, 40]

7. Check if an element exists in a list.

In [209]:
s=[10, 20, 60, 30, 40]
exist_ele = 60
if exist_ele in s:
    print('element is existed')
else:
    print('element not existed')

element is existed

8. Find the index of the first occurrence of an element in a list.

In [224]:
s=[10, 20, 60, 30, 20]
indx_frst_occur=20
s2=s.index(indx_frst_occur)
print(f'the index of the {indx_frst_occur} of an element in a {s}:',s2)

the index of the 20 of an element in a [10, 20, 60, 30, 20]: 1

9. Count the occurrences of an element in a list.

In [233]:
s=[10, 20, 60, 30, 20,30,20]
cnt_ele=30
s1=s.count(cnt_ele)
print(f' the occurrences of an element {cnt_ele} in a list {s1} times.')

 the occurrences of an element 30 in a list 2 times.

10. Reverse the order of elements in a list.

In [248]:
s=[10, 20, 60, 30,20]
s.reverse()
print('the order of elements in a list.',s)

the order of elements in a list. [20, 30, 60, 20, 10]

11. Sort a list in ascending order.

In [257]:
s=[10, 20, 60, 30,20]
s.sort()
print('Sort a list in ascending order.',s)

Sort a list in ascending order. [10, 20, 20, 30, 60]

12. Sort a list in descending order.

In [262]:
s=[10, 20, 60, 30,20]
s.sort(reverse=True)
print('Sort a list in descending order.',s)

Sort a list in descending order. [60, 30, 20, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [265]:
s=[i for i in range(1,21) if i%2==0]
print(f'the list of even numbers from 1 to 20:',s)

the list of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [277]:
s=[i for i in range(2,21,2)]
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [272]:
s=[i for i in range(1,21) if i%2!=0]
print(f'the list of odd numbers from 1 to 20:',s)

the list of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [279]:
s=[i for i in range(1,21,2)]
print(s)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [275]:
s=[10, 20, 60, 30,20]
tot_sum=sum(s)
print('the sum of all elements in a list.',tot_sum)

the sum of all elements in a list. 140

16. Find the maximum value in a list.

In [282]:
s=[10, 20, 60, 30,20]
max_val=max(s)
print('the maximum value in a list:',max_val)

the maximum value in a list: 60

17. Find the minimum value in a list

In [287]:
s=[10, 20, 60, 30,20]
s1=min(s)
print('the minimum value in a list:', s1)

the minimum value in a list: 10

18. Create a list of squares of numbers from 1 to 10.

In [292]:
s=[i**2 for i in range(1,11)]
print('The list of squares of numbers from 1 to 10:',s)

The list of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [297]:
import random
s=[random.randint(1,100) for i in range(10)]
print('The list of random numbers.',s)

The list of random numbers. [79, 11, 98, 71, 5, 32, 59, 7, 37, 12]

20. Remove duplicates from a list.

In [310]:
s=[10, 20, 60, 30,20,30,40,60]
s1=list(set(s))
print('the list without duplicates:',s1)

the list without duplicates: [40, 10, 20, 60, 30]

21. Find the common elements between two lists.

In [329]:
s=[10, 20, 60, 30]
s1=[100, 20, 160, 130]
common_ele=[]
for s2 in s:
    if s2 in s1:
       common_ele.append(s2)
print(len(common_ele))

1

In [333]:
s=[10, 20, 60, 30]
s1=[100, 20, 160, 130]
s2=list(set(s).intersection(s1))
print(s2)

[20]

22. Find the difference between two lists.

In [346]:
s=[10, 20, 60, 30]
s1=[100, 20, 160, 130]
s2=list(set(s).difference(s1))
print(s2)

[10, 60, 30]

In [342]:
s=[10, 20, 60, 30]
s1=[100, 20, 160, 130]
diff_ele=[]
for s2 in s:
    if s2 not in s1:
       diff_ele.append(s2)
print(diff_ele)

[10, 60, 30]

23. Merge two lists.

In [355]:
s=[10, 20, 60, 30]
s1=[100, 20, 160, 130]
merge_lst= s+s1
print('Merge two list to one:',set(merge_lst))

Merge two list to one: {160, 130, 100, 10, 20, 60, 30}

24. Multiply all elements in a list by 2.

In [364]:
s=[10, 20, 60, 30]
s1=[s2*2 for s2 in s] 
print('Multiply all elements in a list:',s1)

Multiply all elements in a list: [20, 40, 120, 60]

25. Filter out all even numbers from a list.

In [371]:
s=[10, 20, 60, 30,25]
s1=[ i for i in s if i%2!=0]
print('even numbers from a list.',s1)

even numbers from a list. [25]

26. Convert a list of strings to a list of integers.

In [5]:
s=['10', '20', '60', '30','25']
s1=[int(i) for i in s]
print(f'list of strings to a list of integers:',s1)

list of strings to a list of integers: [10, 20, 60, 30, 25]

27. Convert a list of integers to a list of strings.

In [1]:
int_list = [1, 2, 3]
str_list = map(str,int_list)
print(list(str_list))

['1', '2', '3']

In [7]:
s=[10, 20, 60, 30,25]
s1=[str(i) for i in s]
print(f'list of integers to a list of strings:',s1)

list of integers to a list of strings: ['10', '20', '60', '30', '25']

28. Flatten a nested list.

In [16]:
s=[[10, 20, 60], [30,25,10],[26,35,64]]
s2=[ item for i in s for item in i]
print('Flatten a nested list:', s2)

Flatten a nested list: [10, 20, 60, 30, 25, 10, 26, 35, 64]

In [20]:
s=[[10, 20, 60], [30,25,10],[26,35,64]]
flat_lst=[]
for i in s:
    for tem in i:
        flat_lst.append(tem)
print(f'flatten a nested list:',flat_lst)

flatten a nested list: [10, 20, 60, 30, 25, 10, 26, 35, 64]

29. Create a list of the first 10 Fibonacci numbers.

In [23]:
n=int(input('enter the first 10 fibonacci number:'))
fibo_lst=[0,1]
for i in range(2,n):
    next_fibo=fibo_lst[i-1]+fibo_lst[i-2]
    fibo_lst.append(next_fibo)
print(f'list of the first {n} Fibonacci numbers:',fibo_lst)

enter the first 10 fibonacci number: 10

list of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [62]:
s=[10, 20, 30, 40,55]
s1=s[:]
s1.sort()

##s=[10, 20, 30, 40,55]
if (s==s1):
    print('list is sorted',s)
else:
    print('list not sorted',s)

list is sorted [10, 20, 30, 40, 55]

In [64]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 60, 30,25]            ###[10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.",ascending_list)
else:
    print("The list is not sorted in ascending order.",ascending_list)

The list is not sorted in ascending order. [10, 20, 60, 30, 25]

31. Rotate a list to the left by `n` positions.

In [1]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [3]:
lst=[10, 20, 60, 30, 25]
n=2
n=n%len(lst)
rotate=lst[n:]+lst[:n]
print('rotate list by left n th position:',rotate)
print(2%5)

rotate list by left n th position: [60, 30, 25, 10, 20]
2

32. Rotate a list to the right by `n` positions.

In [6]:
lst=[10, 20, 60, 30, 25]
n=2
n=n%len(lst)
rotate_right=lst[-n:]+lst[:-n]
print('rotate list by right n th position:',rotate_right)

rotate list by right n th position: [30, 25, 10, 20, 60]

33. Create a list of prime numbers up to 50.

In [11]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [16]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
for i in range(0,len(l),3):
    x=i
    print(l[x:x+3])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [23]:
lst=[10, 20, 60, 30, 25]
soted_lst=sorted(set(lst))
print(soted_lst)
if len(soted_lst)>=2:
    second_larg=soted_lst[-2]
    print('second largest number in list:',second_larg)
else:
    print('The list doesn"t have second largest number',second_larg)

[10, 20, 25, 30, 60]
second largest number in list: 30

36. Replace every element in a list with its square.

In [26]:
lst=[10, 20, 60, 30, 25]
sq_ele=[x**2 for x in lst]
print('The square of each element in list:',sq_ele)

The square of each element in list: [100, 400, 3600, 900, 625]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [29]:
my_list =[10, 20, 60, 30, 25]
my_dict={ele: index for index,ele in enumerate(my_list)}
print('list to a dictionary:',my_dict)

list to a dictionary: {10: 0, 20: 1, 60: 2, 30: 3, 25: 4}

38. Shuffle the elements of a list randomly.

In [36]:
import random
my_list =[10, 20, 60, 30, 25]
random.shuffle(my_list)
print('Shuffle the elements of a list randomly:',my_list)

Shuffle the elements of a list randomly: [60, 10, 20, 25, 30]

39. Create a list of the first 10 factorial numbers.

In [53]:
s=[1]
s=[(s[-1]) for x in range(1,11) if not s.append(x*s[-1])]
print('list of the first 10 factorial numbers:',s)

list of the first 10 factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [45]:
import math

s=[math.factorial(n) for n in range(10)]
print(s)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [59]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common

In [100]:
lst1=[3,4,6,8,9,10]
lst2=[4,5,6,7,8,9]
comm_el=[]
for itm in lst1:
    if itm in lst2:
        comm_el.append(itm)
print('Two lists have at least one element in common:',comm_el)

Two lists have at least one element in common: [4, 6, 8, 9]

In [102]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [105]:
lst1=[3,4,6,8,9,10]
lst1.clear()
print(lst1)

[]

42. Replace negative numbers in a list with 0.

In [108]:
lst1=[3,-4,-16,8,-29,10]
for i in range(len(lst1)):
    if lst1[i]<0:
        lst1[i]=0
print('Replace negative numbers in a list with 0:',lst1)

Replace negative numbers in a list with 0: [3, 0, 0, 8, 0, 10]

43. Convert a string into a list of words.

In [125]:
my_str = "Hello, this is my practice in python"
word=my_str.split()
###words=list(word.split(','))
print('string into a list of words:',word)

string into a list of words: ['Hello,', 'this', 'is', 'my', 'practice', 'in', 'python']

44. Convert a list of words into a string.

In [132]:
word=['Hello,', 'this', 'is', 'my', 'practice', 'in', 'python']
string=' '.join(word)
print('list of words into a string:',string)

list of words into a string: Hello, this is my practice in python

45. Create a list of the first `n` powers of 2.

In [135]:
n=5
n_pow=[2**s for s in range(n)]
print('list of the first n powers of 2:',n_pow)

list of the first n powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [140]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
long_str=''
for s in string_list:
    if len(s)>len(long_str):
         long_str=s
print('longest string in a list:',long_str)

longest string in a list: elderberry

In [142]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a list of strings.

In [149]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
short_str=string_list[0]
for s in string_list:
    if len(s)<len(short_str):
         short_str=s
print('longest string in a list:',short_str)

longest string in a list: date

48. Create a list of the first `n` triangular numbers.

In [152]:
n=5
n_trai=[i*(i+1)//2 for i in range(n)]
print('here is the list of the first n triangular numbers:',n_trai)

here is the list of the first n triangular numbers: [0, 1, 3, 6, 10]

49. Check if a list contains another list as a subsequence.

In [169]:
main_lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
subseq_index=0
for element in main_lst:
    if element==subsequence[subseq_index]:
        subseq_index+=1
        if subseq_index==len(subsequence):
             print("Main list contains the subsequence.")
print("Main list does not contain the subsequence.")

Main list contains the subsequence.

IndexError: list index out of range

In [161]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [176]:
lst1=[3,4,6,8,9,10]
temp=lst1[1]
lst1[1]=lst1[4]
lst1[4]=temp
print(lst1)

[3, 9, 6, 8, 4, 10]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5

In [187]:

tuple=()
for i in range(1,6):
    tuple+=(i,)
print('tuple with integers from 1 to 5:',tuple)

tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [190]:
my_tuple=(10,20,30,50,60)
third_ele=my_tuple[2]
print(third_ele)

30

3. Find the length of a tuple without using the `len()` function.

In [193]:
my_tuple=(10,20,30,50,60)
cnt=0
for i in my_tuple:
    cnt+=1
print('The length of a tuple without using the len() function:',cnt)

The length of a tuple without using the len() function: 5

4. Count the occurrences of an element in a tuple.

In [198]:
my_tuple=(10,20,30,50,20,60)
element_cnt=20
cnt=0
for item in my_tuple:
    if item==element_cnt:
        cnt+=1
print(f' the occurrences of an element {element_cnt} in a tuple {cnt}')

 the occurrences of an element 20 in a tuple 2

5. Find the index of the first occurrence of an element in a tuple.

In [213]:
my_tuple=(10,20,30,50,20,60)
element_cnt=20
index=-1
for i , item in enumerate(my_tuple):
    if item ==element_cnt:
        index=i
        break

if index!=-1:
    print(f"The first occurrence of {element_cnt} is at index {index}.")
else:
    print(f"The first occurrence of {element_cnt} not found at index.")

The first occurrence of 20 is at index 1.

In [211]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

6. Check if an element exists in a tuple.

In [218]:
my_tuple = (10, 20, 30, 20, 40, 50)
exits_ele=30
if exits_ele in my_tuple:
      print(f"{exits_ele} exists in the tuple.")
else:
    print(f"{exits_ele} does not exist in the tuple")

30 exists in the tuple.

7. Convert a tuple to a list.

In [221]:
my_tuple = (10, 20, 30, 20, 40, 50)
tuple_list=list(my_tuple)
print(f'convert a tuple to a list:',tuple_list)

convert a tuple to a list: [10, 20, 30, 20, 40, 50]

8. Convert a list to a tuple.

In [1]:
list1=[10, 20, 30, 20, 40, 50]
lst_tple= tuple(list1)
print(f'list to a tuple:',lst_tple)

list to a tuple: (10, 20, 30, 20, 40, 50)

9. Unpack the elements of a tuple into variables.

In [4]:
my_tuple = (10, 20, 30, 40, 50)
var1,var2,var3,var4,var5= my_tuple
print(f'tuple into variable1:',var1)
print(f'tuple into variable1:',var2)
print(f'tuple into variable1:',var3)
print(f'tuple into variable1:',var4)
print(f'tuple into variable1:',var5)

tuple into variable1: 10
tuple into variable1: 20
tuple into variable1: 30
tuple into variable1: 40
tuple into variable1: 50

10. Create a tuple of even numbers from 1 to 10.

In [7]:
evn_num_lst=[num for num in range(2,11,2)]
tup_lst=tuple(evn_num_lst)
print(f'tuple of even number from 1 to 10;',tup_lst)

tuple of even number from 1 to 10; (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [10]:
evn_num_lst=[num for num in range(1,11,2)]
tup_lst=tuple(evn_num_lst)
print(f'tuple of even number from 1 to 10;',tup_lst)

tuple of even number from 1 to 10; (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [13]:
my_tuple1 = (10, 20, 30, 40, 50)
my_tuple2 = (60, 50, 30, 90, 80)
con_tup=my_tuple1+my_tuple2
print(f'concatenate of tuple:',con_tup)

concatenate of tuple: (10, 20, 30, 40, 50, 60, 50, 30, 90, 80)

13. Repeat a tuple three times.

In [16]:
my_tuple1 = (10, 20, 30, 40, 50)
rep_tup=my_tuple*3
print(f'tuple three times:',rep_tup)

tuple three times: (10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

14. Check if a tuple is empty.

In [19]:
empty_tuple=()
non_empty_tuple=(1,2,3,4,5)
if not empty_tuple:
    print('empty tuple is empty.')
else:
    print('empty tuple is not empty.')
if not non_empty_tuple:
     print('non empty tuple is empty.')
else:
    print('non empty tuple is not empty.')

empty tuple is empty.
non empty tuple is not empty.

15. Create a nested tuple.

In [22]:
my_tuple1 = ((10, 20, 30, 40, 50),(True,False),('a','b','c'))
print(f'Nested tuple:',my_tuple1)

Nested tuple: ((10, 20, 30, 40, 50), (True, False), ('a', 'b', 'c'))

16. Access the first element of a nested tuple.

In [25]:
my_tuple1 = ((10, 20, 30, 40, 50),(True,False),('a','b','c'))
fst_tple= my_tuple1[0]
print(fst_tple)

(10, 20, 30, 40, 50)

17. Create a tuple with a single element.

In [30]:
tup=('a',)
print(f'tuple with single element:',tup)

tuple with single element: ('a',)

18. Compare two tuples.

In [35]:
tuple1=(1,3,5,6)
tuple2=(2,4,5,6)
print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)

tuple1 == tuple2: False
tuple1 >= tuple2: False
tuple1 <= tuple2: True
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 > tuple2: False

19. Delete a tuple.

In [5]:
tuple1=(1,3,5,6)
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

20. Slice a tuple

In [14]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sl_tup=my_tuple[2:6]
print(sl_tup)

(3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [19]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max_va=max(my_tuple)
print(f'the maximum value in a tuple:',max_va)

the maximum value in a tuple: 10

22. Find the minimum value in a tuple.

In [22]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
min_val=min(my_tuple)
print(f'the minimum value in a tuple:',min_val)

the minimum value in a tuple: 1

23. Convert a string to a tuple of characters.

In [25]:
str='abjfkfggh'
tup_chr=tuple(str)
print('a string to a tuple of characters:',tup_chr)

a string to a tuple of characters: ('a', 'b', 'j', 'f', 'k', 'f', 'g', 'g', 'h')

24. Convert a tuple of characters to a string.

In [30]:
tuple_chr= ('a', 'b', 'j', 'f', 'k', 'f', 'g', 'g', 'h')
str_tup=''.join(tuple_chr)
print('tuple of characters to a string:',str_tup)

tuple of characters to a string: abjfkfggh

25. Create a tuple from multiple data types.

In [33]:
my_tuple = (1, 2, 'suma',True,10.50)
print(my_tuple)

(1, 2, 'suma', True, 10.5)

26. Check if two tuples are identical.

In [36]:
tuple1=(10,20,40,50)
tuple2=(20,30,50,60)
are_ident=tuple1==tuple2
print(are_ident)

False

27. Sort the elements of a tuple.

In [41]:
tuple1=(60,20,10,50,70)
sort_tup=sorted(tuple1)
print(sort_tup)

[10, 20, 50, 60, 70]

28. Convert a tuple of integers to a tuple of strings.

In [1]:
tuple1=(60,20,10,50,70)
str_tup=tuple(str(item) for item in tuple1)
print('tuple of integers to a tuple of strings:',str_tup)

tuple of integers to a tuple of strings: ('60', '20', '10', '50', '70')

29. Convert a tuple of strings to a tuple of integers.

In [4]:
tuple1=('60', '20', '10', '50', '70')
int_tup=tuple(int(item) for item in tuple1)
print('tuple of strings to a tuple of integers:',int_tup)

tuple of strings to a tuple of integers: (60, 20, 10, 50, 70)

30. Merge two tuples.

In [11]:
tuple1=(60,20,10,50,70)
tuple2=(60,70,80,90)
merg_tup=tuple1+tuple2
print(merg_tup)

(60, 20, 10, 50, 70, 60, 70, 80, 90)

31. Flatten a nested tuple.

In [56]:
tuple1=((60,20,10),(50,70,80),(90,20,35))
res=' '.join([str(item) for item1 in tuple1 for item in item1])
print(f'Flatten a nested tuple:'+(res))

Flatten a nested tuple:60 20 10 50 70 80 90 20 35

In [58]:
test_list = (('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10'))
 
# printing original tuples list
print("The original list : " + str(test_list))
 
# Flatten Tuples List to String
# using join() + list comprehension
res = ' '.join([idx for tup in test_list for idx in tup])
 
# printing result
print("Tuple list converted to String is : " + (res))

The original list : (('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10'))
Tuple list converted to String is : 1 4 6 5 8 2 9 1 10

32. Create a tuple of the first 5 prime numbers.

In [19]:
n=int(input('enter the prime numbers:'))
if n<=1:
    print('the number not a prime number')
for i in range(2,int(n**0.5)+1):
    if n%i==0:
        print('the number is a prime number:',i)

enter the prime numbers: 12

the number is a prime number: 2
the number is a prime number: 3

In [17]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [36]:
tup = (1, 2, 3,2, 1)
if tup == tup[::-1]:
    print('tuple is a palindrome:',tup)
else:
    print('tuple is not a palindrome:',tup)

tuple is a palindrome: (1, 2, 3, 2, 1)

34. Create a tuple of squares of numbers from 1 to 5.

In [43]:
n=int(input('enter the squares of numbers:'))
res=tuple(num**2 for num in range(1,n))
print('tuple of squares of numbers from 1 to 5',res)

enter the squares of numbers: 6

tuple of squares of numbers from 1 to 5 (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [56]:
n=int(input('enter the numbers:'))
even_num= tuple (i for i in range(2,n+1) if i%2==0)
print('THE EVEN NUMBERS:',even_num)

enter the numbers: 21

THE EVEN NUMBERS: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

36. Multiply all elements in a tuple by 2.

In [61]:
tup=(1, 4, 9, 16, 25)
mul_tup= tuple(num*2 for num in tup)
print('Multiply all elements in a tuple:',mul_tup)

Multiply all elements in a tuple: (2, 8, 18, 32, 50)

37. Create a tuple of random numbers.

In [68]:
import random
rand_tup=tuple(random.randint(1,100) for i in range(10))
print('tuple of random numbers:',rand_tup)

tuple of random numbers: (11, 72, 66, 80, 86, 1, 70, 14, 56, 88)

38. Check if a tuple is sorted.

In [71]:
tuple=(11, 72, 66, 80, 86, 1)
srt_tup=tuple.sorted()
print(srt_tup)

AttributeError: 'tuple' object has no attribute 'sorted'

In [74]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [80]:
my_tup=(2,5,4,6,8.9)
n_pos=2
n_pos=n_pos%len(my_tup)
tup_n=tup[n:]+tup[:n]
print('Rotate a tuple to the left by n positions:',tup_n)

Rotate a tuple to the left by n positions: (4, 9, 16, 25, 1)

In [78]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [83]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers

In [1]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [4]:
tup=input('enter the elements seprated by comma:')
print('A tuple from user input:',tuple(tup))

enter the elements seprated by comma: 2,3,5,67,'amma'

A tuple from user input: ('2', ',', '3', ',', '5', ',', '6', '7', ',', "'", 'a', 'm', 'm', 'a', "'")

43. Swap two elements in a tuple

In [6]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5)
print('Reverse the elements of a tuple:',my_tuple[::-1])

Reverse the elements of a tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2.

In [17]:
n=5
tupl=tuple(2**i for i in range(n))
print('tuple of the first n powers of 2:',tupl)

tuple of the first n powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [24]:
my_st=("apple", "banana", "grape", "kiwi", "watermelon")
mx_str=max(my_st, key=len)
print('the longest string in a tuple of strings:',mx_str)

the longest string in a tuple of strings: watermelon

47. Find the shortest string in a tuple of strings.

In [27]:
my_st=("apple", "banana", "grape", "kiwi", "watermelon")
mn_str=min(my_st, key=len)
print('the longest string in a tuple of strings:',mn_str)

the longest string in a tuple of strings: kiwi

48. Create a tuple of the first n triangular numbers

In [30]:
n=5
trian_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(trian_numbers_tuple)

(1, 3, 6, 10, 15)

Check if a tuple contains another tuple as a subsequence.

In [33]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length n.

In [36]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [52]:
l=set(range(1,6))
print('A set with integers from 1 to 5:',l)

A set with integers from 1 to 5: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [63]:
my_set={4,5,6,7}
my_set.add(1)
my_set.add(2)
print(my_set)

{1, 2, 4, 5, 6, 7}

3. Remove an element from a set.

In [68]:
my_set={4,5,6,7}
my_set.remove(4)
print(my_set)

{5, 6, 7}

4. Check if an element exists in a set.

In [75]:
my_set={4,5,6,7}
check_el=int(input('enter the input value:'))
if check_el in my_set:
    print('the element exists in set:',check_el)
else:
    print('the element not exists in set:', check_el)

enter the input value: 10

the element not exists in set: 10

5. Find the length of a set without using the `len()` function.

In [78]:
my_set={1,2,3,4,5}
cnt=0
for i in my_set:
    cnt+=1
print('The length of a set:', cnt)

The length of a set: 5

6. Clear all elements from a set.

In [81]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [86]:
my_set=set(range(1,11))
even=set([i for i in range(1,11) if i%2==0])
print('set of even numbers from 1 to 10:', even)

set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [88]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [93]:
my_set=set(range(1,11))
odd=set([i for i in range(1,11) if i%2!=0])
print('set of odd numbers from 1 to 10:', odd)

set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [98]:
set1={1, 3, 5, 7, 9}
set2={2, 4, 6, 8, 10}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [101]:
set1={1, 3, 5, 7, 9}
set2={2, 3, 5, 7, 10}
set3=set1.intersection(set2)
print(set3)

{3, 5, 7}

11. Find the difference between two sets.

In [107]:
set1={1, 3, 5, 7, 9}
set2={2, 3, 5, 7, 10}
set3=set2.difference(set1)
print(' the difference between two sets:',set3)

 the difference between two sets: {2, 10}

12. Check if a set is a subset of another set.

In [110]:
set1={1, 3, 5, 7, 9}
set2={3, 5, 7}
set3=set1.issubset(set2)
print('a set is a subset of another set:',set3)

a set is a subset of another set: False

13. Check if a set is a superset of another set.

In [6]:
set1={1, 3, 5, 7, 9}
set2={3, 5, 7}
set3=set1.issuperset(set2)
print('A set is superset of another set:',set3)

A set is superset of another set: True

14. Create a set from a list.

In [9]:
list=[1,2,3,4]
s1=set(list)
print(s1)

{1, 2, 3, 4}

15. Convert a set to a list.

In [1]:
s={1,4,5,6,4}
l1=list(s)
print('set to list:', l1)

set to list: [1, 4, 5, 6]

In [3]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set.

In [35]:
import random
set={1,2,4,5}
random_ele=random.choice(list(set))
set.remove(random_ele)
print('final set after removing',random_ele,':',set)

final set after removing 1 : {2, 4, 5}

In [33]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 3 : {1, 2, 4, 5}

17. Pop an element from a set.

In [40]:
set= {1,2,3,45,34}
set.pop()
print('Pop an element:',set)

Pop an element: {2, 3, 34, 45}

18. Check if two sets have no elements in common.

In [45]:
set1 = {1, 2, 3, 4}
set2 = {5, 4, 7, 8}
set3= set1.intersection(set2)
print('two sets have no elements in common:',set3)

two sets have no elements in common: {4}

19. Find the symmetric difference between two sets.

In [48]:
set1 = {1, 2, 3, 4}
set2 = {5, 4, 7, 8}
set3=set1^set2
print('the symmetric difference between two sets:',set3)

the symmetric difference between two sets: {1, 2, 3, 5, 7, 8}

20. Update a set with elements from another set.

In [55]:
set1 = {1, 2, 3, 4}
set2={4,7,8,9}
set2.update(set1)
print(set2)

{1, 2, 3, 4, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [57]:
primes = list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**0.5) + 1)), range(2, 31)))
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

22. Check if two sets are identical.

In [63]:
set1 = {1, 2, 3, 4}
set2={1, 2, 3, 4}
if set1==set2:
    print('both sets are identical')
else:
    print('both sets are not identical')

both sets are identical

23. Create a frozen set.

In [66]:
elements=[1,2,3,4,5]
my_frozen=frozenset(elements)
print('frozen set:',my_frozen)

frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [71]:
set1 = {1, 2, 3, 4}
set2={5, 6, 7, 8}
set3=set1.isdisjoint(set2)
print('A set is disjoint with another set:',set3)

A set is disjoint with another set: True

25. Create a set of squares of numbers from 1 to 5.

In [82]:
set1 = {1, 2, 3, 4}
set2={set**2 for set in set1}
print('set of squares of numbers from 1 to 5:',set2)

set of squares of numbers from 1 to 5: {16, 1, 4, 9}

In [1]:
sq_set=set()
for i in range(1,6):
    squre=i**2
    sq_set.add(squre)
print(sq_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [8]:
set={2,3,4,5,6,7,8,10}
set_even={ i for i in set if i%2==0}
print('All even numbers from a set.',set_even)

All even numbers from a set. {2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [1]:
set1 = {1, 2, 3, 4}
multi_ele=set()
for i in set1:
    set1=i*2
    multi_ele.add(set1)
print('Multiply all elements in a set',multi_ele)

Multiply all elements in a set {8, 2, 4, 6}

28. Create a set of random numbers.

In [8]:
import random
s1=set()
num_rand=5
for i in range(num_rand):
    rm=random.randint(1,100)
    s1.add(rm)
print('set of random numbers:',s1)

set of random numbers: {64, 72, 77, 20, 23}

29. Check if a set is empty.

In [13]:
s1={1,2,3,5}
if len(s1)==0:
    print('empty')
else:
    print('not empty')

not empty

30. Create a nested set (hint: use frozenset).

In [16]:
s1={1,2,3,5}
s2=frozenset(s1)
print('nested set',s2)

nested set frozenset({1, 2, 3, 5})

In [26]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [21]:
s1={1,2,3,5}
s1.discard(3)
print('Remove an element from a set using the discard method:',s1)

Remove an element from a set using the discard method: {1, 2, 5}

32. Compare two sets.

In [24]:
s1={1,2,3,5}
s2={2,4,3,5}
if s1==s2:
    print('matching elements.')
else:
    print('not matching')

not matching

In [28]:
s1={1,2,3,5}
s2={2,4,3,5}

issubset=s1.issubset(s2)
issuperset=s1.issuperset(s2)
isinter=s1.intersection(s2)
isdiff=s1.difference(s2)
print('issubset',issubset)
print('issuperset',issuperset)
print('isinter',isinter)
print('isdiff',isdiff)

issubset False
issuperset False
isinter {2, 3, 5}
isdiff {1}

33. Create a set from a string.

In [31]:
str='sacrrdferd'
str_set=set(str)
print(str_set)

{'a', 'c', 'd', 'e', 'r', 'f', 's'}

34. Convert a set of strings to a set of integers.

In [7]:
set1={'123','567','890'}
int_str=set()
for i in set1:
    in_str=int(i)
    int_str.add(in_str)
print(int_str)
print(set1)

{890, 123, 567}
{'567', '890', '123'}

In [1]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [14]:
s1={123,45,67,87}
str_set=set()
for i in s1:
    s2=str(i)
    str_set.add(s2)
print('set of integers:',s1)
print('set of strings:',str_set)

set of integers: {123, 67, 45, 87}
set of strings: {'45', '87', '67', '123'}

36. Create a set from a tuple.

In [19]:
tuple=(123,4,567,897,34)
s1=set(tuple)
print('A set from a tuple:',s1)

A set from a tuple: {897, 34, 4, 567, 123}

37. Convert a set to a tuple.

In [1]:
s1={897, 34, 4, 567, 123}
tup=tuple(s1)
print('A set to tuple:',tup)

A set to tuple: (897, 34, 4, 567, 123)

38. Find the maximum value in a set.

In [4]:
s1={897, 34, 4, 567, 123}
print(max(s1))

897

39. Find the minimum value in a set.

In [7]:
s1={897, 34, 4, 567, 123}
print(min(s1))

4

40. Create a set from user input.

In [1]:
inpt=input('enter the value:')
se1=set(inpt)
print('A set from user input:',se1)

enter the value: this is my python ass

A set from user input: {'s', 'm', 'o', 'p', ' ', 't', 'n', 'i', 'h', 'y', 'a'}

41. Check if the intersection of two sets is empty.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

inter_set=set1.intersection(set2)
if len(inter_set)==0:
    print('intersection of set is empty', inter_set)
else:
    print('intersection of set is not empty', inter_set)

intersection of set is not empty {4, 5}

42. Create a set of the first 5 Fibonacci numbers.

In [25]:
fibo_set=set()
a,b=0,1
for i in range(6):
    fibo_set.add(a)
    a,b=b,a+b
print('set of first 5 fibo series:',fibo_set)

set of first 5 fibo series: {0, 1, 2, 3, 5}

In [11]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [33]:
lst=[2,3,4,5,64,33,5,4,3]
s1=list(set(lst))
print('removed duplicates from list:',s1)

removed duplicates from list: [64, 33, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [31]:
set1={2,3,4,5,98}
set2={3,4,97}
common_ele=set1.intersection(set2)
print(' two sets have the same elements:',common_ele)

 two sets have the same elements: {3, 4}

In [39]:
set1={2,3,4,2,3}
set2={3,4,2}
sort_set1=sorted(list(set1))
sort_set2=sorted(list(set2))
if sort_set1==sort_set2:
    print('two sets have same elements')
else:
    print('two sets not having same elements')

two sets have same elements

45. Create a set of the first `n` powers of 2.

In [54]:
n=int(input('enter the value for n:'))
power_set_n=set()
for i in range(n):
    power=2**i
    power_set_n.add(power)
print('A set of first n powers of 2',power_set_n)

enter the value for n: 6

A set of first n powers of 2 {32, 1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [59]:
set1={2,4,7,8}
set2={3,4,7,9}
set3=set1.intersection(set2)
print('The common elements between a set and a list',list(set3))

The common elements between a set and a list [4, 7]

In [62]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [68]:
n=int(input('enter the value:'))
train_set=set()
for i in range(1,n+1):
    traing_set=i*(i+1)//2
    train_set.add(traing_set)
print('A first n traingular num:',train_set)

enter the value: 10

A first n traingular num: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [73]:
set1={2,4,7,8}
set2={2,4}
is_subset=set2.issubset(set1)
print('A set contains another set as a subset', is_subset)

A set contains another set as a subset True

49. Create a set of alternating 1s and 0s of length `n`.

In [92]:
alternate_set=set()
n=int(input('enter the value:'))
for i in range(n):
    if i%2==0:
        alternate_set.add(1)
    else:
        cnt+=0
        alternate_set.add(0)
print('alternating 1s and 0s of length:',alternate_set)

enter the value: 10

alternating 1s and 0s of length: {0, 1}

50. Merge multiple sets into one

In [95]:
set1={2,4,7,8}
set2={2,8,9}
set3={4,9,7,2}
set4=set1.union(set2,set3)
print('Merge multiple sets into one:',set4)

Merge multiple sets into one: {2, 4, 7, 8, 9}

In [97]:
set1={2,4,7,8}
set2={2,8,9}
set3={4,9,7,2}
set4=set1|set2|set3
print(set4)

{2, 4, 7, 8, 9}